      
<div class="row">
  <div class="jumbotron text-center">
    <h2 class ="text-center">CHOOSE ACTIVITIES</h2>
    <p>You can choose activities from the suggested list of items</p>
  </div>
  <div class ="row">
    <fieldset>
      <legend>
        CHOOSE YOUR PLANNED ACTIVITIES
            </legend>
      <div class="col-sm-2">
        <div class="thumbnail btn activity">
          HIKING
                  </div>
      </div>
    </fieldset>
    <hr>
    <br>
    <div class = "text-center">
      <button class="btn btn-edit location"> SAVE PROGRESS </button>
    </div>
  </div>
</div>
