<div class="content">

<h3>SELECT CURRENCY FROM OPTIONS BELOW</h3>
<br><br>
<center>
<div class="mainselection">
<select name="" id="from_currency" class="currency">
	<option selected="selected" disabled="disabled">CONVERT FROM</option>
</select>
</div>
</center>
<br><br>
<center class="amount-style">
<label for="amount" >AMOUNT &nbsp; &nbsp;</label>
<input type="text" class="amount" value="1">
</center>
<br><br>


<center>
<div class="mainselection">
<select name="" id="to_currency" class="currency">
<option selected="selected" disabled="disabled">CONVERT TO</option>
</select>
</div>
</center>


<div style="clear:both"></div>
<br><br>

<center>
<button class="btn-currency convert">CONVERT</button>
<br><br>

<h3 class="currency_result"></h3>
</center>




</div>