
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


*= require_self
*= require jquery-ui
*= require font-awesome
*= require_tree .
*/


html,
body {
  margin:0;
  padding:0;
  height:100%;
}

/*.jumbotron {
  margin-top: 80px;
  margin-bottom: 1px;
  }*/

.container {
  min-height:100% !important;
  position:relative !important;
/*  margin-right: 40px !important;
  margin-left: 300px !important;*/
}
.content{
    margin-top: 8em;
    margin-bottom: 5em;
    height: 100%;
  /*  padding-bottom:50px;*/
}
.alltrips {
  margin-left: 12em;
}
/*  .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }*/

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .middle {
    margin-top: 150px;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input {
    margin-bottom: 10px;
  }

  .btn-block {
    background: #1abc9c;
    color: white;
  }
  .btn-block:hover {
    background: rgba(22, 160, 133,1.0);
    color: white;
  }
  .btn-lg {
    background: #1abc9c;
    border: 2px solid white;
  }
  .btn-custom-darken {
    background-color: #000000 ;
    color: white;
  }

  .btn-primary {
    color: #fff;
    background-color: #42CAAB !important;
    border-color: #357ebd;
  }

  .btn-lg:hover {
    background: rgba(22, 160, 133,1.0);
  }

  #toggleIt:hover {
    background-color: black;
    color: white;
  }
 .next-button {
  height: 50px !important; 
  width: 50%;
  background-color: #00BCD4 !important;
 }
/*  .location .date {
    max-width: 500px;
  }*/
 .container .jumbotron {
    color: rgb(35, 115, 60);
    background-color: white;
    padding-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  a.btn.btn-primary.btn-lg {
    background: #1abc9c;
    border: 2px solid white;
  }
  #homepic {
   width: 100%;
   position: absolute;
   left: 0;
   z-index: -1000;
 }
 .btn-edit {
  background: rgb(26, 188, 156);
  color: white;
}
.btn-delete {
  background: rgb(231, 76, 60);
  color: white;
}
.btn-update {
  background: rgb(155, 89, 182);
  color: white;
}
.btn-weather {
  background: rgba(231, 76, 60, 0.8);
  color: white;
}

.todolist{
  background-color:#FFF;
  padding:20px 20px 10px 20px;
  margin-top:30px;
}
.todolist h1{
  margin:0;
  padding-bottom:20px;
  text-align:center;
}
.form-control{
  border-radius:0;
  width: 100% !important;
}
li.ui-state-default{
  background:#fff;
  border:none;
  border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
  border-bottom:none;
}

.todo-footer{
  background-color:#F4FCE8;
  margin:0 -20px -10px -20px;
  padding: 10px 20px;
}
#done-items li{
  padding:10px 0;
  border-bottom:1px solid #ddd;
  text-decoration:line-through;
}
#done-items li:last-child{
  border-bottom:none;
}

#markall {
  color: green;
}

#item {
 display: none;
}

@media print {
  .notPrint, #notPrint{
    display: none;
  }
}

/*#wide {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}*/


#count-trips {
  color: green;
}


ul { padding-left:20px; list-style-type: none; }
li.unchecked { margin-bottom:10px; }
li.unchecked:before {

  margin:0 5px 0 -15px;
}

ul { padding-left:20px; list-style-type: none; }
li.checked { margin-bottom:10px; }
li.checked:before {

  margin:0 5px 0 -15px;
}

.red {
  background-color: red;
}

#catButtons button {
  background:rgb(255,145,0);
}

#catButtons button.highlight {
  background: #39CCCC;
}
.highlighted {
  background: #39CCCC !important;
}

.flash {display: none; height: 50px; position: absolute; }
.flash-error { background-color:#F50057; color:#fff}

.weather {
  margin: 10px;
  padding: 5px;
  float: left;
  height: 310px;
  border: 1px solid black;
  width: 210px;
}

.slick-prev:before, .slick-next:before {
  color:black !important;
}
#results {
  display:block;
}

.all_thumbs .thumbnail {
  background: #ff5252 !important;
  color: white;
  position: relative;
  margin-bottom: 3px;
}
.all_thumbs .thumbnail.highlight {
 background: #39CCCC !important;
  text-decoration: line-through !important;
  color: black !important;

}
#allCategories {
  display: block;
  padding-bottom: 70px;
  overflow: hidden;
  /*  height: 500px;*/
}
/*label { background-color:#333; color:#FFF; }*/

input[type="checkbox"] {
  margin: -5px 0 0 !important;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  /*  background: brown;*/
  text-decoration: line-through;
  color: black;
}

.activity {
  background: yellow !important;
}
.stack{
/*  border:1px solid black;*/
  width: 30% !important;
  margin: 10px;
}
/*#tripLi {
    padding: 6px;
}*/
.edit_icon {
  float:left;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.delete_icon {
  float:right;
  width: 40px;
  height: 40px;
  padding: 5px;
}

#trash {
  position: fixed;
  width: 150px;
  height: 150px;
  bottom: 100px;
  left: 10px; 
}
.trip_card_title {
  font-size: 14px;
}
.trip_card {
  margin-bottom: 1px !important;
}
.navbar {
/*  margin-bottom: 0px !important;
  border-radius: 0px !important;*/
/*  position: fixed !important;
  width: 100%;*/
}
#home {
    padding-top: 5px;
}
.footer{
  background-color: black;
  width:100%;
/*  height:100px;*/
  position:relative;
/*  bottom:0;
  left:0;*/
}
.flash, .flash-error
{
position: relative;
width: 350px;
height: 65px;
padding: 7px;
background-color:#F50057; 
color:#fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #DD4313 solid 1px;

}

.flash:after, .flash-error:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 15px 0;
border-color: #F50057 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -26px;
left: 71px;
}

.flash:before, .flash-error:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 15px 0;
border-color: #DD4313 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -27px;
left: 71px;
}
.activities {
  width: 200px;
  height: 160px;
  margin: 20px;
  float: left;
  opacity: 0.5;
}
/*Flash Notice*/
.flash-notice
{
position: relative;
width: 360px;
height: 65px;
padding: 10px;
background: #E3FFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.flash-notice:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 20px 0;
border-color: #E3FFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -17px;
left: 56px;
}

.edit_trip_field {
    width: 300px;
    height: 50px;
    padding: 10px;
}

#calendar {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    font-size: 10px;
    position: fixed;
    top: 100px;
    left: 10px; 

}
.fc h2 {
   font-size: 15px;
}
.trips_container {
  margin-left: 180px !important;
}

#trash-bubble 
{
position: fixed;
bottom: 250px;
left: 35px; 
width: 210px;
height: 80px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 42px;
-moz-border-radius: 42px;
border-radius: 42px;
border: #B5C28B solid 4px;
}


#trash-bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 66px;
}


#trash-bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 18px 0;
border-color: #B5C28B transparent;
display: block;
width: 0;
z-index: 0;
bottom: -22px;
left: 63px;
}
#trash_message {
  padding: 15px;
}
.menu_icon {
  padding-left: 12px;
  padding-right: 12px;
}