<nav class="navbar navbar-inverse navbar-bottom">

  <div class="container-fluid">
  <div class="row">
        <div class="col-sm-4">
        <h5 style="color: white">Copyright &copy; 2015 Anya Melnyk</h5>
    </div>
            <div class="col-sm-4">
            <h5 style="color: white">About Packing List</h5>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sunt nulla deserunt saepe repudiandae architecto provident magni.</p>
    </div>
            <div class="col-sm-4">
            <h5 style="color: white">My Github</h5>
   <a href="https://github.com/slyka85">github.com/slyka85</a>
    </div>
</div>
  </div>
</nav>